{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Просто ваші справи!)</h1>
            <p>Життя веселе. Але також і дуже насичене. Ви робите мільйон різних речей. Але важливо, <u>що саме</u> ви робите. Я створив <b><i>DayByDay</i></b>, щоб допомогти вам організувати всі ваші справи та жити тим життям, яким ви хочете. Вас чекає нове організоване життя.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Старт</a>
        </div>
    </div>

{% endblock %}
